@import './src/styles/common.scss';

.project01Wapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    margin: 0 0 80px;

    .project01StickyNav {
            // height: 600px;
            margin-top: 40px;
        .project01Button {
            position: sticky;
            // background: #000;
            top: 180px;
            margin-right: 60px;

            a {
            display: block;
            text-decoration: none;
            color: rgb(133, 133, 133);
            font-size: 14px;
            padding: 8px;
            border: none;
            outline: none;
            text-align: center;
            border-radius: 4px;
            margin-bottom: 16px;
            width: 156px;
                &.active {
                    border: 1px solid var(--textNormal);
                    color: var(--textNormal);
                }
            }
        }
        
    }
}

// @include for-desktop-only() {
    
// }





