@import './src/styles/common.scss';

.imgWapper {
    width: 100%;
    // margin: 104px 0 80px;

    .imgHolder {
        width: 100%;
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // display: none;

        .close {
            display: none;
            &.modal {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 50;
                background: rgba(0, 0, 0, 0.8);
            }
        }

        .popImage {
            display: none;
            position: fixed;
            background-color: bisque;
            // height: 80%;
            // width: 50%;
            padding: 64px;
            
            img {
                display: block;
                margin: auto;
                width: auto;
                height: 70vh;
            }

            &.showImg {
                display: block;
                position: fixed;
                z-index: 100;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }

        .imgComponent {
        cursor: pointer;
       height: 432px;
        width: 432px;
        display: grid;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
            .imgDescription { 
                transform: translateY(0);
                pointer-events: unset;
            }
        }

         .imgDescription {
             background-color: var(--bg);
             text-align: center;
             font-size: 14px;
             transform: translateY(80px);
             align-self: flex-end;
             pointer-events: none;
             padding: 8px;
             margin: 16px;
             transition: .3s ease-out;
         }

        }
    }  
}

// @include for-desktop-only() {

    
// }





