@mixin for-tablet-only {
    @media only screen and (min-width: 600px) { @content; }
}

@mixin for-desktop-only {
    @media only screen and (min-width: 1025px) { @content; }
}

@mixin for-tinnyP-only {
    @media only screen and (max-width: 320px) { @content; }
}

body {
    --mobileMenuBg: #121212;
    --mobileMenuText: #FFFF;
    --mobileMenuButton: #FFFF;
    --mobileMenuButtonText: #121212; 
    --bg: #FFFF;
    --imgUrl: url('https://res.cloudinary.com/dramages/image/upload/v1602702632/portfolioImages/homePageImages/portraitDrayLight.png');
    --textNormal: #222;
    --textTitle: #222;
    --headingAccent: yellow;
    --textAccent: #F8C8C8;
    --buttonBg: #F3F3F3;
    --buttonHover: #222;
    --textLink: blue;
    --footerBg: #121212;
    --footerline: #363636;
    --hr: hsla(0, 0%, 0%, 0.2);
    --borderLine: #D1D0D0;
    background-color: var(--bg);  
  }
  
  body.dark {
    --mobileMenuBg: #FFFF;
    --mobileMenuText: #222;
    --mobileMenuButton: #045757;
    --mobileMenuButtonText: #FFFF; 
    -webkit-font-smoothing: antialiased;
    --headingAccent: #045757;
    --buttonBg: none;
    --textAccent: #055D4D;
    --buttonHover: #045757;
    --bg: #121212;
    --imgUrl: url('https://res.cloudinary.com/dramages/image/upload/v1602822116/portfolioImages/homePageImages/mePortraitDarkMode.png');
    --footerBg:  #045757;
    --footerline: #7D7D7D;
    --textNormal: rgb(190, 190, 190);
    --textTitle: #E4E4E4;
    --textLink: yellow;
    --borderLine: #004A4A;
    --hr: hsla(0, 0%, 100%, 0.2);
  }
