@import 'src/styles/common.scss';

footer {
  margin-top: 0;
  .footerWrapper {
    overflow: hidden;
    position: relative;
    padding: 24px;
    background: var(--footerBg);

    h1 {
      color: #FFFFFF;
    }
    p{
      color: #D1D1D1;
      width: 100%;
      font-size: 24px;
      margin: 32px 0 40px 0;
    }
    span,a {
      color: #D1D1D1;
    }

    .emailMe {
      text-decoration: none;
      padding: 16px;
      display: block;
      width: 100%;
      border: 1px solid  #D1D1D1;;
    }

    .magicWand {
      display: none;
    }

    .connectMe {
      display: block;
      width: 100%;
      border-top: 1px solid var(--footerline);
      margin-top: 56px;
      padding-top: 24px;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 24px;

        svg {
          margin-right: 24px;
          transform: scale(1.5)
        }
      }
    }
  }
}

@include for-tablet-only() {
  footer {
    margin-top: 80px;

    .footerWrapper {
      overflow: hidden;
      position: relative;
      // margin: 0 8% 6% 8%;
      padding: 4% 4%;
      background: var(--footerBg);
  
      h1 {
        color: #FFFFFF;
        text-align: center;
      }

      p {
        color: #D1D1D1;
        text-align: center;
        width: 60%;
        margin: auto;
      }
      span,a {
        color: #D1D1D1;
      }
  
      .emailMe {
        text-decoration: none;
        padding: 16px;
        display: block;
        width: 30%;
        border: 1px solid  #D1D1D1;
      }
  
      .connectMe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 95%;
        border-top: 1px solid var(--footerline);
        margin-top: 56px;
        padding-top: 24px;

        span {
          width: 100%;
          text-align: right;
        }
  
        div {
          width: 100%;
          margin-bottom: 0;
          svg {
            transform: scale(1.2)
          }
        }
      }
    }  
  }
}

@include for-desktop-only() {

  footer {
    .footerWrapper {
      padding: 6% 12% 2% 12%;
    }
  }

}