@import 'src/styles/common.scss';

@keyframes mymove {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        }
    100% {
        opacity: 1;
        transform: translateY(0px);
        }
}

.titleHolder {
    .sectionTitle {
        font-weight: bold;
        font-size: 10vw;
        color: var(--textTitle);
        position: relative;
        display: inline-block;
        margin: 0;
        transform: translateY(-100px);
        transition: all;
        opacity: 0;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: -2;
            opacity: 0;
            width: 80%;
            height: 50%;
            right: -10px;
            top: 60%;
            background-color: var(--headingAccent);
        }
    
        &.test {
            opacity: 1;
            transform: translateY(0px);
            &::before { 
                animation: mymove 0.2s ease-in;
                animation-fill-mode: forwards;
            }
        }
    }
}

@include for-tablet-only () {
    .titleHolder {
        .sectionTitle {
            font-size: 6.5vw;
        }
    }
}

@include for-desktop-only () {
    .titleHolder{
       .sectionTitle {
        font-size: 4.5vw;
        } 
    }
}




