@import 'src/styles/common.scss';

@keyframes mymove {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        }
    100% {
        opacity: 1;
        transform: translateY(0px);
        }
}

.titleHolder {
    .sectionTitle {
        font-weight: bold;
        font-size: 10vw;
        color: var(--textTitle);
        position: relative;
        display: inline-block;
        margin: 0;
        opacity: 1;
        text-shadow: 6px 0px 0px var(--headingAccent);
    }
}

@include for-tablet-only () {
    .titleHolder {
        .sectionTitle {
            font-size: 6.5vw;
        }
    }
}

@include for-desktop-only () {
    .titleHolder{
       .sectionTitle {
        font-size: 4.5vw;
        } 
    }
}




