@import '../styles/common.scss';

.secWrapper {
    position: relative;

    section {
        margin-bottom: 48px;
        display: block;
        position: relative;

        .introContent {
            width: 100%;
    
            .textWrapper {

                // .title {
                //     margin-top: 64px;
                // }
                .textp1 {
                    margin-top: 24px;
                }
    
                .textp2 {
                    margin-top: 24px;
                }
            }
    
            .buttonWrapper {
    
                p {
                    font-size: 16px;
                    position: relative;
                    display: inline;
    
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        height: 14px;
                        width: 90%;
                        top: 50%;
                        right: -20px;
                        background-color: var(--textAccent);
                        display: block;
                    }
                }
    
                .buttonHolder {
                    margin-top: 16px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 16px;
                }
            }
         
        }
    }

    section:nth-child(2) {
        .Img { 
        display: none;
        }
    }

    section:last-child {
        .skillset {
            margin-top: 24px;
            width: 100%;

            .skilly {
                width: 100%;
                display: block;
                padding: 8px 0;

                svg {
                    transform-origin: top left;
                    margin-top: 16px;
                    
                    circle {
                        stroke: var(--textNormal);
                      }
                    
                      .circleFill {
                        fill: var(--textNormal);
                      }
                    
                      path {
                        stroke: var(--textNormal);
                      }
                }
            }
        }
    }
}

@include for-tinnyP-only() {

    .b3, .b4 {
        grid-column: 1 / 3;
      }
    
    .skilly {

        svg {
            transform: scale(0.9);

            .smiles {
                width: 100%;
            } 
        }
    }

}

@include for-tablet-only() {
    .secWrapper {

        section {
            padding-top: 104px;
            
            .introContent {
            width: 100%;
            }
        }

        section:nth-child(2) {
            .Img {
                display: none
            }
        }

        section:last-child {
            .skillset {
                margin-top: 40px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
    
                .skilly {
                    width: 50%;
                    // margin-left: 3px;
                    display: block;
                    padding: 20px 0;
                }
            }
        }
    }  
}

@include for-desktop-only() {

    .secWrapper {

         padding-top: 0;
    
        section {
            padding-top: 108px;
            height: 80vh;
            // totally height of section should be the height of view port - height of header
            // height: calc(100vh - 200px);
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
    
            
        
            .introContent {
                width: 50%;
                
                // max-width: 600px; 
        
                .textWrapper {
    
                    .textp1 {
                        margin-top: 20px;
                    }
        
                    .textp2 {
                        margin-top: 64px;
                    }
                }
        
                .buttonWrapper {
        
                    p {
                        font-size: 18px;
                        font-weight: 600;
                    }
        
                    .buttonHolder {
                        width: 88%;
                        justify-items: stretch;
                        margin-top: 32px;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 24px;
                    }
                }
            }
        }

        section:first-child {
            padding-top: 200px;
        }
    
        section:nth-child(2) {
            // background-color: red;
            // position: relative;
    
            .Img {
                display: block;
            position: fixed;
            top: 20%;
            right: 8%;
    
                .ImgWrapper {
                    div {
                        img {
                        width: 500px;
                        height: 70vh;
                        object-fit: cover;
                        }
                    }
    
                    div:last-child {
                        position: absolute;
                        right: 0;
                        top: 0;
                        transition: 0.5s;
                        height: 100%;
                        overflow: hidden;
                    }
                }
       
            }
    
            .Img.nonFixed {
                width: auto; 
                position: relative;
                top: 0vh;
                right: 0;
    
                .ImgWrapper {
                    div:last-child {
                        height: 0%;
                    }
                } 
            }
        }
    
        section:last-child {
            display: block;
            h1 {
                margin-bottom: 50px;
              } 

            .skillHolder {
                display: flex;

                .textWrapper{
                    .text {
                        margin-top: 32px;
                    }
                }

                .skillset {
                    width: 60%;
                    display: block;
                    padding-right: 50px;
                    margin-right: 50px;
                    border-right: 1px solid #C8C8C8;
        
                    .skilly {
                        width: 90%;
                        justify-content: space-between;
                        display: flex;
                        padding: 8px 0;
                        align-items: center;
                    }
                }    
            }
        }
    }
}