@import 'src/styles/common.scss';

html {
  /* font-family: sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

header.pageHeader {
  display: none;
}

.childrenWrapper {
    padding: 24px;
  }

  @include for-tablet-only() {
    header.pageHeader {
      z-index: 1;
      display: block;
      width: 100%;
      position: fixed;
      background-color: white;
      transition: box-shadow 0.2s;
    }

    .pageHeader.sadow {
      box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.1);
    }

    .childrenWrapper {
      padding: 32px;
    }
  }

@include for-desktop-only () {

  .pageHeader.sadow {
    box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.1);
  }

  .childrenWrapper {
    margin: 0 auto;
    padding: 64px 156px;
    background-color: none;
  }

}