@import 'src/styles/common.scss';

html {
  /* font-family: sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--textNormal);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

main {

  .pageHeader {
    z-index: 1;
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    transition: box-shadow 0.2s;

    &.sadow {
    box-shadow: 0px 16px 25px rgba(0, 0, 0, 0);
    // position: static;
    }
  }

  .childrenWrapper {
    padding: 24px;

    &.modalOn {
      height: 100vh;
      overflow-y: hidden;
    } 
  }
}

@include for-tablet-only () {
  main {
  
    .childrenWrapper {
      padding: 0 8% 6% 8%;
    }
  }
}

@include for-desktop-only () {

  main {
  
    .childrenWrapper {
      padding: 0 8% 6% 8%;

      &.modalOn {
        height: unset;
        overflow-y: scroll;
      }
    }
  }
}