@import 'src/styles/common.scss';

.bannerWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

    .bannerContentHolder {
        width: 100%;
        padding: 24px;
        color: white;
        overflow: hidden;
        height: unset;
        position: relative;

        .bannerContent {
            
            p {
                color: #C0C0C0;
                font-weight: lighter;
                margin: 0 0 40px 0;
                font-size: 16px;
                mix-blend-mode: screen;
            }

            div {

                a {
                color: rgb(199, 199, 199);
                }

                p {
                    color: white;
                    margin: 0 0 16px 0;
                    mix-blend-mode: screen;
                    span {
                        color: #C0C0C0;
                    }
                }
            }
        }             
    }

    .bannerDesktop,.bannerMobile {
        display: none;
    }
}

@include for-tablet-only() {
    .bannerWrapper {

        .bannerContentHolder {
            padding: 40px;
        }
    }
}

@include for-desktop-only() {
    
    .bannerWrapper {

        .bannerContentHolder {
            padding: 5%;
            width: 50%;

            .bannerContent {
                padding: 2%;
                & > p {
                    color: #C0C0C0;
                    font-weight: lighter;
                    margin: 0 0 40px 0;
                    font-size: 16px;
                    mix-blend-mode: screen;
                    &:first-child {
                        font-size: 18px;
                    }
                }
            }
        }

        .bannerMobile {
            display: block;
            position: absolute;
            right: -18%;
            bottom: -20%;
            height: 80%;
            width: auto;
            transform: rotate(-45deg)scale(1.2);
            z-index: 0;
        }
    
        .bannerDesktop {
            display: block;
            position: absolute;
            right: -12%;
            bottom: 5%;
            height: 70%;
            width: auto;
        } 
    }
}