@import './src/styles/common.scss';

.projectListingWapper {
    margin: 40px auto;

    .projects {

        .projectListComponent {
            margin: 40px 0 80px;
            
    
            .projectListContentArea {
                width: 100%;
                h1 {
                    margin: 24px 0;
                }
            }
    
            .imageHolder {
                display: inline-flex;
                background-color: rgb(240, 240, 240);
                width: 100%;
                overflow: hidden;
                height: 30vh;
    
                // if it's not of compartible mediatype video or image is displayed none
                // img.video, video.image {
                //     display: none;
                // }
    
                img, video {
                    margin: auto;
                    width: 75%;
                    transform: scale(1.15);
                    height: auto;
                }
    
                video {
                    width: 55%; 
                }
            }
        }
    }

}

@include for-tablet-only() {
    
    .projectListingWapper {
        margin-top: 104px;
        
        .projects {
            display: flex;
            width: 100%;

            .projectListComponent {
                width: 70%;
                
                .imageHolder { 
                    width: 70%; 
                    padding: 40px;
                    display: grid;
                    height: 30vh;
    
                    img {
                        align-self: center;
                    }
                }
        
                .projectListContentArea {
                    width: 70%;
                }
            }
        }
    
    }
}





