@import 'src/styles/common.scss';

header {
    width: 100%;

    .headerContainer {
        display: flex;
        justify-content: space-between;
        // max-width: 1224px;
        padding: 32px 108px;

        .headerLink {
            display: flex;

            a {
                border: none;
                color: #000;
                background-color: white;
                text-decoration: none;
                cursor: pointer;
                margin-right: 32px;
            }
    
            a:hover {
                border-bottom: solid 1px black;
            }
        }

        .leaveAmessageButton {

            a {
                color: #000;
                cursor: pointer;
                display: flex;
                text-decoration: none; 
        
                span:last-child {
                    margin-left: 14px;
                    display: flex;
                    align-items: center;
                }
            }
        }
 
    }
}

@include for-tablet-only() {
    header {
        .headerContainer {
            // max-width: 1224px;
            padding: 32px;
        }
    }
}

@include for-desktop-only() {
    header {
        .headerContainer {
            padding: 32px 156px;
        }
    }
}