
header {
    width: 100%;

    .headerContainer {
            display: flex;
            justify-content: space-between;
            // max-width: 1224px;
            padding: 32px 108px;

            button {
                border: none; 
                background-color: white;
                text-decoration: none;
                cursor: pointer;
                margin-right: 32px;
            }

            button:hover {
                border-bottom: solid 1px black;
            }

        
            a {
            color: #000;
            cursor: pointer;
            display: flex;
            text-decoration: none; 

                span:last-child {
                    margin-left: 14px;
                    display: flex;
                    align-items: center;
                }
            }
        
    }
}